@font-face {
  font-family: "BodoniItalic";
  src: url("./woff2/bodoni-72-book-italic.woff2") format("woff2"),
    url("./woff2/bodoni-72-book-italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BodoniFLF";
  src: url("./woff2/BodoniFLF Bold Italic.woff2") format("woff2"),
    url("./woff/BodoniFLF Bold Italic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
