@font-face {
  font-family: "TanNimbus";
  src: url("https://hellodish.newfacecards.com/libs/fonts/tan-nimbus/TAN-NIMBUS.woff2")
      format("woff2"),
    url("https://hellodish.newfacecards.com/libs/fonts/tan-nimbus/TAN-NIMBUS.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
